.env
.streamlit/secrets.toml
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/
*.venv
.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
.vscode/
.streamlit/
test.py
Demo_historical_agent.webm
Demo_historical_agent.mp4
thumbnail.png